<?php

define("USERNAME", "datusername");
define("PASSWORD", "datpassword");
define("DATABASE", "datdatabase");
define("DATASOURCE", "datdatasource.net");

define("HUB_PASSWORD", "something749426da06blablabla");
define("SCHEDULER_PASSWORD", "somethingotherthanthelineabove2387468da");

define("FTP_SERVER", "datserver.com");
define("FTP_USER_NAME", "datftpusername");
define("FTP_USER_PASS", "datftppassword");
define("FTP_REMOTE_FILE_PATH", "/datfolder/datfile.jpg");

$link = mysqli_connect(DATASOURCE, USERNAME, PASSWORD, DATABASE) or die("Error " . mysqli_error($link));
